<div class="column">
  <div class="mb-5">
    <%= render 'users/search' %>
  </div>
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>
    <% @users.each do |user| %>
      <% if current_user.nil? || current_user.id != user.id && !current_user.following?(user) %>
        <div class="panel-block">
          <article class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/32x32.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= link_to user.name, user_path(user.username) %></strong>
                  <small>@<%= user.username %></small>
                </p>
                <% if current_user %>
                  <%= render 'components/follow_btn', user: user %>
                <% end %>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>
  </nav>
</div>
