<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'components/profile' %>
      <% end %>
      <%= render 'components/feed' %>
      <%= render 'components/follow_feed' %>
    </div>
  </div>
</section>
